<h1 class="mb-5"><%= t('admin.badges.index.header') %></h1>
<table class="table my-5">
  <tr>
    <th class="sort-by-title pointer">
      <%= t("common.title") %>
    </th>
    <th class="sort-by-title pointer">
      <%= t(".picture") %>
    </th>

  </tr>
  <%= render @badges %>
</table>