<div class="navbar navbar-light my-5 py-5" style="background-color: #e3f2fd;">
  <div>
    <div>
      <p><%= current_year %> Romodanov Denis</p>
    </div>
    <div>
      <p>
        <%= link_to "TestGuru ", github_url("Lichers0", "Module2"), target: :_blank %>
        тестовая платформа для создания и реадктирования тестов. А так же их прохождение.
      </p>
    </div>
    <div>
      <p>
        <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :_blank %>
      </p>
    </div>
  </div>
</div>